body {
  background-color: #574D4F;
  font-family: 'Muli', sans-serif;
  /*#ECCD3D;*/
}
.main {
  background-color: white;
}
/*////////////////
//    index    */
.view-container {
  padding: 41px 20px;
  margin-left: 250px;
  background-color: white;
  min-height: 800px;
}

/*////////////////
//    navbar   */
.contentMain {
  position: relative;
}
.nav-item {
  /*border: 3px solid black;*/
  border-radius: 50%;
  text-align: center;
  line-height: 58px;
  padding-left: 2px;
  margin: 0;
}

.nav-bar:firstchild {
  border: none;
}

.project-nav {
  /*margin-top: 40px;*/
  text-align: right;
}
.sidebar {
  width: 250px;
  padding: 38px 20px;
  /*float: left;*/
  position: absolute;
}
.sidebar a {
  color: #7DB4B5;
}
.sidebar a:hover {
  color: #88C100;
  text-decoration: none;
}
.menu:hover {
  border-top: 2px solid #88C100;
  border-bottom: 2px solid #88C100;
}
.name {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #88C100;
  margin-bottom: 50px;
  font-size: 26px;
}
.item {
  margin: auto 30px;
  display: inline-block;
}
.power {
  font-size: 30px;
}
.power:hover{
  color:rebeccapurple;
}

.list {
  text-align: right;
  margin-top: 75px;
  font-size: 20px;
}
.list div {
  padding-top: 10px;
}
.contact {
  margin-top: 75px;
  text-align: right;
  font-size: 16px;
}
.contentMainMobile {
  display: none;
}
@media (max-width: 700px) {
  .contentMain {
    display: none;
  }
  .contentMainMobile {
    display: initial;
    position: relative; 
  }
  .view-container {
    margin-left: 100px;
  }
  .sidebar {
    width: 100px;
    text-align: center;
  }
  .item {
    margin: 0;
    display: block;
  }
  .list {
    text-align: center;
  }
  .menu:hover {
    border: none;
  }
}
/*////////////////
//    main     */
.titles {
  font-size: 16px;
  color: gray;
  /*margin-top: 10px;*/
  margin-bottom: 60px;
  /*text-align: center;*/
}
.colon {
  color: #ABDB25;
}
.tech-list {
  list-style: none;
}
.tech-list li {
  display: inline-block;
  margin: 10px 10px;
}
.tech-icons {
  text-align: center;

}

/*////////////////
//  projects   */
.icon {
  display: inline-block;
  margin: 10px 10px;
}
.icon a {
  color: #7DB4B5;

}
.icon a:hover {
  text-decoration: none;
  color: #88C100;
}
.icon-static {
  display: inline-block;
  margin: 10px 20px;
  color: #88C100;
}
.title h1 {
  display: inline-block;
  margin-top: 7px;
  color: #88C100;
  font-size: 26px;
}
.sub-title {
  font-size: 20px;
  text-transform: uppercase; 
  margin-bottom: 20px;
}
.login {
  display: inline-block;
  float: right;
  margin-bottom: 10px;
  padding: 10px 10px;
  border: 1px solid #7DB4B5;
}
.login-content {
  padding-left: 10px;
}
.paragraph {
  font-size: 16px;
  line-height: 24px;
}
.sub-content {
  margin: 45px 30px;
  max-width: 700px;
}
.backlog {
  margin: 50px 50px;
  background-color: 
  /*#FFFBF5; #7DB4B5*/
}
.backlog.table {
  margin: 30px 40px;
}
.tech {
  color: #FFFBF5;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px 5px;
  display: inline-block;
  border-radius: 5px;
}
.lang {
  background-color: #F9A1A1; 
}
.framewk {
  background-color: #B8644D;
}
.lib {
  background-color: #664A46;
}
.concept {
  background-color: #E0C890;
}
.image-box {
  background-color: #FFFBF5;
  margin: 10px -20px;
  padding: 20px 10px;
}

.plan-img {
  width: 400px;
  height: auto;
}

.caption {
  font-style: italic;
  width: 400px;
  margin: 10px auto;
}
.div-h {
  display: flex;
  justify-content: center;
  align-items: center !important;
  font-size: 
}
.approach-h {
 /* margin: auto auto;
  /*text-align: center;*/
/*  position: absolute;
  left: 50%;
  top: 50%;*/
}
.table {
  font-size: 14px;
}

/*////////////////
//  resume   */
.resume-btns {
  text-align: center;
}
.btn-resume {
  font-size: 16px;
  border-radius: 5px;
  margin: 30px 50px;
  padding: 15px 10px;
  background-color: #7DB4B5;
}
.btn-resume a {
  color: #574D4F;
  text-decoration: none;
}
.btn-resume:hover {
  background-color:#88C100;
}
.btn-resume a:hover {
  text-decoration: none;
}
