/*////////////////
//    index    */
.view-container {
  margin-top: 50px;
  margin-left: 120px;
}

/*////////////////
//    navbar   */
.contentMain {
  position: relative;
}
.project-nav {
  /*margin-top: 40px;*/
  text-align: right;
}
.power:hover{
  color:rebeccapurple;
}
.sidebar {
  float: left;
  margin-top: 20px;
}
.item {
  height: 60px;
  width: 60px;
  margin: 10px 5px;
  /*border: 1px solid purple;*/
}
.sidebar img:hover {
  border-radius: 50%;
  box-shadow: 5px 5px #888888;
}
.sidebar img {
  max-width: auto;
  max-height: 100%;
  margin: 0;
}

/*////////////////
//    main     */
.titles {
  font-size: 14px;
  color: gray;
  text-align: center;
}
.contentSquares {
  text-align: center;
  z-index: 1;
}
.squareList {
  margin-top: 50px;
  padding-left: 0;
}
.squareList li {
  height: 140px;
  display: inline-block;
  border: 1px solid lightgray;
  height: 40px;
  width: 140px;
  margin: 60px 10px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}

/*////////////////
//  switchIt   */
.icon {
  display: inline-block;
  margin: 10px 10px;
}

.inline {
  display: inline-block;
}

.paragraph {
  padding: 0 10px;
}

.tech {
  margin: 20px 10px;
}

.image {
  background-color: lightgray;
  margin: 10px 20px;
  padding: 20px 10px;
}

.plan-img {
  width: 400px;
  height: auto;
}

.caption {
  font-style: italic;
  width: 350px;
  margin: auto auto;
}

.approach-h {
  margin: auto auto;
  text-align: center;
  vertical-align: middle;
}
.div-h {
  height: 170px;
}