body {
  background-color: #574D4F;
  font-family: 'Muli', sans-serif;
  /*#ECCD3D;*/
}
h1 h2 h3 h4 {
  color: #CF2376 !important; 
}

.main {
  background-color: white;
}
/*////////////////
//    index    */
.view-container {
  padding: 41px 20px;
  margin-left: 250px;
  background-color: white;
  height: 700px;
}

/*////////////////
//    navbar   */
.contentMain {
  position: relative;
}
.nav-item {
  /*border: 3px solid black;*/
  border-radius: 50%;
  text-align: center;
  line-height: 58px;
  padding-left: 2px;
  margin: 0;
}

.nav-bar:firstchild {
  border: none;
}

.project-nav {
  /*margin-top: 40px;*/
  text-align: right;
}
.sidebar {
  width: 250px;
  padding: 38px 20px;
  /*float: left;*/
  position: absolute;
}
.sidebar a {
  color: #ABDB25;
}
.sidebar a:hover {
  color: #7DB4B5;
  text-decoration: none;
}
.menu:hover {
  border-top: 2px solid #7DB4B5;
  border-bottom: 2px solid #7DB4B5;
}
.name {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #ABDB25;
  margin-bottom: 50px;
  font-size: 24px;
}
.item {
  margin: auto 30px;
  display: inline-block;
}
.power {
  font-size: 30px;
}
.power:hover{
  color:rebeccapurple;
}

.list {
  text-align: right;
  margin-top: 100px;
  font-size: 20px;
}
.list div {
  padding-top: 10px;
}


/*.btn-floating {
  height: 50px;
  width: 50px;
}*/

/*////////////////
//    main     */
.titles {
  font-size: 16px;
  color: gray;
  /*text-align: center;*/
}
.colon {
  color: #ABDB25;
}
.contentSquares {
  text-align: center;
  z-index: 1;
}
.squareList {
  margin-top: 50px;
  padding-left: 0;
}
.squareList li {
  height: 140px;
  display: inline-block;
  border: 1px solid lightgray;
  height: 40px;
  width: 140px;
  margin: 60px 10px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}

/*////////////////
//  projects   */
.icon {
  display: inline-block;
  margin: 10px 10px;
}

.inline {
  display: inline-block;
}

.paragraph {
  font-size: 18px;
  line-height: 24px;
}

.tech {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.image-box {
  background-color: #EEE;
  margin: 10px 0;
  padding: 20px 10px;
}

.plan-img {
  width: 400px;
  height: auto;
}

.caption {
  font-style: italic;
  width: 350px;
  margin: auto auto;
}

.approach-h {
  margin: auto auto;
  text-align: center;
  vertical-align: middle;
}
.div-h {
  height: 170px;
}