<!-- Title -->
<div class="title">
  <h1> :Resume</h1>
  <div class="icon-static pull-right"><i class="fa fa-info fa-2x" aria-hidden="true"></i></div>
</div>
<div class="sub-content">
  <p class="paragraph">Below is my professional resume with links to a plain text document version as well as a formatted PDF.</p>
  <div class="resume-btns">
    <button class="btn btn-resume"><a href="https://drive.google.com/open?id=0B1tk0UTVLhjoWkdMNXB1UDZKX0E" target="_blank"><i class="fa fa-cloud-download"></i> Plain Text Resume</a></button>
    <button class="btn btn-resume"><a href="https://drive.google.com/open?id=0B1tk0UTVLhjoejdKcTc1Z1ZKQzQ" target="_blank"><i class="fa fa-cloud-download"></i> Formatted Resume</a></button>
  </div>
</div>
<!-- Resume -->
<div>
<!-- summary of qualifications  
As a Web Developer with a background in Product Management, I have a unique perspective from both sides of the field. I excel at working with a wide range of personalities and creating ad-hoc teams around me, all by leaning into obstacles, soliciting contributions from every avenue as well as Listening "with a capital L."
Technical Talent    
Efficiency is key. I love to set up organized and scalable products utilizing concepts such as model-view-controller, RESTfull routes, and object-oriented programming. Languages, frameworks, and tools I currently utilize are:
:   Github   ::   HTML   ::   CSS   ::   SCSS   ::   JavaScript   :: jQuery   ::   Bootstrap   ::   Materialize   ::  Angular :: Node.js   ::   Express.js   ::   Sequelize   ::   SQL   ::   PostgreSQL   ::  Ruby   ::   Ruby on Rails   :
Certifications    
UW Software Product Management Certification  May 2015
UW Product Management Certification May 2011
WORk Experience   
Product Manager May 2015 – April 2016
National Research Corporation Seattle, WA
As the owner of product sustainability and improvement and partner to the sustainment developers and Quality Assurance team, I set a standard for high quality bug resolution and we all worked together to resolve internal and client facing bugs with timely and effective solutions. Highlights of my skillset include: 
: Wrote specs for new website features and worked one on one with the developer and tester to deliver
: Verified and prioritized outstanding website product defects then tested all defect development solutions to confirm solutions met product requirements
: Partnered with the sustainment development team providing industry knowledge support and product specification clarification
: Communicated with services and other departments on status and solutions provided to resolve outstanding client facing issues
Product Manager September 2012 – Present 
Client Service Manager  July 2011 – September 2012 
National Research Corporation Seattle, WA
As the owner of a smaller set of company products, I had a level of autonomy to researched new regulations and re-designed data visualizations and layouts to create more meaningful quality reporting for products worth up to $375K annually. Highlights of my skillset include:
 :: Product Planning and Analysis:
: Gathered and compiled client requirements from data analysis and sales and service department feedback then created effective and detailed user stories with/for development teams and built product design and revision requirements and wireframes using Axure, MS Excel, and Snagit.
: Consulted with Lead Developers to determine technical requirements for a new reporting database and data collection and delivery process through APIs and FTPs.
: Used Agile methodologies to develop client-specific product and ROI improvements.
 :: Project Management:
: Determined internal product position and alignment with company goals and plans through communication and collaboration with all departments, including the service team, the development team, and business leaders.
: Detailed and evaluated necessary time and resources for projects while prioritizing workload and addressing knowledge gaps during weekly project meetings with company leadership. 
: Organized and led a team of two developers creating a subscription tool which automatically delivered reports and survey responses to client e-mail addresses.
 :: Delivery and Release:
: Wrote and updated internal specification documents and external report interpretation guides detailing client-specific calculations, assumptions, and relevant patient populations. 
: Trained staff, including client service managers, sales representatives and account managers, on individual and client-specific product design, use, and history, as well as industry trends.
: Designed and delivered quarterly client-facing webinars detailing industry and product updates. 
additional work experience   
Seattle’s Best Coffee, Barista Supervisor                                     Jan ’08 – Mar ’09, Oct ’10 – Jul ’11 
Target Corporation, Client Service Team Lead                         November 2009 – October 2010
Anuban Khon Kaen School, TESOL Teacher                            April 2009 – August 2009 
Capital Group Companies, Client Service Representative        June 2006 – December 2007
Education  
Bachelor of Arts (B.A.), International Affairs – GPA: 3.83  Graduated May 2006
Florida State University  Tallahassee, FL
Associations  
Product Management Consortium November 2013 – Present
♣ Board Member: November 2013 – February 2014
PublicationS & Presentations  
Calderon, Krista. “Hospice CAHPS: Taking Flight.” National Research Corporation: Blog. National Research Corporation, 30 September 2014. Web. <www.nationalresearch.com/blog/47/>

Calderon, Krista and Smith, Karen. “Navigating the Rapids of HomeCare.” Home Care Association of Washington. Renton, WA, April 2012. Conference Presentation.
Conferences 
National Association for Home Care & Hospice  October 2013, 2014
National Hospice and Palliative Care Organization September 2013
American Health Care Association  October 2013 -->
