<div>
<h2>{{ me }}</h2>
<h4 class="titles">:  Developer  ::  Programmer  ::  Software Engineer  ::  Product Owner  ::  Leader  ::  Partner  :
</h4>
</div>
<div>
  <p>As a Web Developer with a background in Product Management, I have a unique perspective from both sides of the field. I excel at working with a wide range of personalities and creating ad-hoc teams around me, all by leaning into obstacles, incorporating contributions from every avenue, and implementing some serious Listening skils.
  </p>
  <br>
  <h4>Technical Talent</h4>
  <p>I love to set up organized and scalable products utilizing concepts such as model-view-controller, RESTfull routes, and object-oriented programming.</p> 
  <p>Languages, frameworks, and tools I currently utilize are:</p>
  <p>
  :   Github   ::   HTML   ::   CSS   ::   SCSS   ::   JavaScript   :: jQuery   ::   Bootstrap   ::   Materialize   ::  Angular :: Node.js   ::   Express.js   ::   Sequelize   ::   SQL   ::   PostgreSQL   ::  Ruby   ::   Ruby on Rails   :   MongoDB   : 
  </p>
</div>

<div class="contentSquares">
  <ul class="squareList">
   <li class="portfolio"><p>Picture here</p><a href="/#/switchIt"> switchIt</a></li>
   <li class="professional"><a href="/#/hospital-report"> Hospital Report</a></li>
   <li class="personal"><a href="/#/outcomes"> Outcomes Mgmt</a></li>
  </ul>

  <a class="btn btn-default" href="/#/about" role="button">Resume</a>
</div>