<div>
<h4 class="titles">
  <span class="colon">:</span>   Developer   
  <span class="colon">::</span>   Programmer  
  <span class="colon">::</span>   Software Engineer
  <span class="colon">::</span>   Product Owner  
  <span class="colon">::</span>   Leader  
  <span class="colon">::</span>   Partner  
  <span class="colon">:</span> 
</h4>
</div>
<div class="sub-content">
  <h3 class= "sub-title">Welcome to who I am</h3>
  <p class="paragraph">As a Web Developer with a background in Product Management, I have a unique perspective from both sides of the field. I excel at working with a wide range of personalities and creating ad-hoc teams around me, all by leaning into obstacles, incorporating contributions from every avenue, and implementing some serious Listening skils.
  </p>
  <p class="paragraph">The best days in my former career were the days I got to step away from the emails to hunker down and build something, wether that be a wireframe for a new product or an excel sheet analyzing data to identify a new product feature. The best thing about my new career is that I'll get to build something everyday.
  </p>
  <br>
  <!-- Icons -->
  <div class="tech-icons">
    <div class="icon-static"><i class="fa fa-database fa-2x" aria-hidden="true"></i></div>
    <div class="icon-static"><i class="fa fa-desktop fa-2x" aria-hidden="true"></i></div>
  </div>
  <!-- Technical Talent -->
  <h4 class="sub-title">Technical Talent</h4>
  <p class="paragraph">There's no better feeling than optimizing a process, a chunk of code, or a set of routes. I love to set up organized and scalable products utilizing concepts such as model-view-controller, RESTfull routes, and object-oriented programming.</p> 

  <!-- Technologies -->
  <table tech-table>
    <tbody>
    <tr>
      <td class="tech-label">
        <label>Languages:</label>
      </td>
      <td>
        <div class="tech lang">Javascript</div>
        <div class="tech lang">Ruby</div>
        <div class="tech lang">SQL</div>
        <div class="tech lang">SCSS</div>
        <div class="tech lang">HTML5</div>
        <div class="tech lang">CSS</div>
      </td>
    </tr>
    <tr>
      <td class="tech-label">
        <label>Libraries:</label>
      </td>
      <td>
        <div class="tech lib">jQuery</div>
        <div class="tech lib">Angular</div>
        <div class="tech lib">Bootstrap</div>
        <div class="tech lib">Materialize</div>
        <div class="tech lib">Highcharts.js</div>
        <div class="tech lib">Sweet Alerts</div>
      </td>
    </tr>
    <tr>
      <td class="tech-label">
        <label>Frameworks:</label>
      </td>
      <td>
        <div class="tech framewk">Rails</div>
        <div class="tech framewk">Node.js</div>
        <div class="tech framewk">Express.js</div>
      </td>
    </tr>
    <tr>
      <td class="tech-label">
        <label>Databases:</label>
      </td>
      <td>
        <div class="tech database">PostgreSQL</div>
        <div class="tech database">MongoDB</div>
      </td>
    </tr>
    <tr>
      <td class="tech-label">
        <label>Concepts:</label>
      </td>
      <td>
        <div class="tech concept">DRY code concepts</div>
        <div class="tech concept">Object-Oriented Programming</div>
        <div class="tech concept">MVC</div>
        <div class="tech concept">RESTful Routes</div>
        <div class="tech concept">Data Analytics</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>