<!-- Desktop-size nav -->
<div class="contentMain">
  <div class="sidebar">
    <h4 class="name"><a href="#/">Krista Calderon</a></h4>
  <!-- Email -->
    <div class="contact">
      <div><a href="mailto:kc@kristacalderon.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> kc@kristacalderon.com</a></div>
    </div>
  <!-- LinkedIn and Github -->
    <div class="item"><a href="https://github.com/kamsci" target="_blank" tooltip-placement="top" uib-tooltip="My Github" title="My github"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a></div>
    <div class="item"><a href="https://www.linkedin.com/in/kristacalderon" target="_blank" data-toggle="tooltip" data-placement="right" title="My linkedIn"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></div>

  <!-- Project nav -->
    <div class="list">
      <div><a href="#/" data-toggle="tooltip" data-placement="right" title="Home"><i class="fa fa-circle-o" aria-hidden="true"></i></a></div>
      <div><a class="menu" href="#/switchIt">switchIt</a></div>
      <div><a class="menu" href="#/hospital-report">Hospitalization Report</a></div>
      <div><a class="menu" href="#/outcomes" data-toggle="tooltip" data-placement="top" title="Outcomes">Outcomes Mgmt</a></div>
      <div><a class="menu" href="#/borrow" data-toggle="tooltip" data-placement="top" title="Outcomes">BegBorrowNeverSteal</a></div>
      <div><a href="#/" data-toggle="tooltip" data-placement="right" title="Home"><i class="fa fa-circle-o" aria-hidden="true"></i></a></div>
      <div><a class="menu" href="#/contact">Resume</a></div>
    </div>
   
  </div> 
</div>
<!-- -------------------------------------- -->

<!-- Mobile-size Nav -->
<div class="contentMainMobile">
  <div class="sidebar">
    <h4 class="name">KC</h4>
    <div class="contact">
      <div class="item"><a href="mailto:kamsci@gmail.com" data-toggle="tooltip" data-placement="right" title="Email Me"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a></div>
    </div>
    <div class="item"><a href="https://github.com/kamsci" target="_blank" data-toggle="tooltip" data-placement="right" title="My github"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a></div>
    <div class="item"><a href="https://www.linkedin.com/in/kristacalderon" target="_blank" data-toggle="tooltip" data-placement="right" title="My linkedIn"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></div>


    <div class="list">
      <div class="item bookend"><a href="#/" data-toggle="tooltip" data-placement="right" title="Home"><i class="fa fa-circle-thin fa-fw" aria-hidden="true"></i></a></div>
      <div class="item-mobile"><a class="menu" href="#/switchIt" data-toggle="tooltip" data-placement="right" title="switchIt"><i class="fa fa-puzzle-piece fa-lg" aria-hidden="true"></i></a></div>
      <div class="item-mobile"><a class="menu" href="#/hospital-report" data-toggle="tooltip" data-placement="right" title="Hospital Report"><i class="fa fa-pie-chart fa-lg" aria-hidden="true"></i></a></div>
      <div class="item-mobile"><a class="menu" href="#/outcomes" data-toggle="tooltip" data-placement="top" title="Outcomes"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a></div>
      <div class="item-mobile"><a class="menu" href="#/borrow" data-toggle="tooltip" data-placement="top" title="Borrow"><i class="fa fa-recycle fa-lg" aria-hidden="true"></i></a></div>
      <div class="item bookend"><a href="#/" data-toggle="tooltip" data-placement="right" title="Home"><i class="fa fa-circle-thin" aria-hidden="true"></i></a></div>
      <div class="item-mobile"><a class="menu" href="#/contact" data-toggle="tooltip" data-placement="right" title="Resume"><i class="fa fa-info fa-lg" aria-hidden="true"></i></a></div>
    </div>
   
  </div>
</div>
