<div class="contentMain">
  <div class="nav-bar pull-right">
    <a href="/#/"><i class="fa fa-home fa-3x item nav-item" aria-hidden="true"></i></a>
    <a href="/#/switchIt"><i class="fa fa-puzzle-piece fa-3x item nav-item" aria-hidden="true"></i></a>
    <a href="/#/hospital-report"><i class="fa fa-pie-chart fa-3x item nav-item" aria-hidden="true"></i></a>
    <a href="/#/outcomes" data-toggle="tooltip" data-placement="top" title="Outcomes"><i class="fa fa-cog fa-3x item nav-item" aria-hidden="true"></i></a>
    <a href="/#/about"></a>
  </div>
  <div class="sidebar">
    <div class="item"><a href="/#/"><i class="fa fa-power-off fa-5x power" aria-hidden="true"></i></a></div>
    <div class="item"><a href="https://github.com/kamsci" target="_blank" data-toggle="tooltip" data-placement="right" title="My github"><img src="img/github_icon_2.png"></a></div>
    <div class="item"><a data-toggle="tooltip" data-placement="right" title="Resume and Contact Info"><img src="img/email.png"></a></div>
    <div class="item"><a href="https://www.linkedin.com/in/kristacalderon" target="_blank" data-toggle="tooltip" data-placement="right" title="My linkedIn"><img src="img/linkedin_icon.png"></a></div>
  </div>
</div>
