<div class="contentMain">
  <div class="nav-bar pull-right">
    <a href="/#/"><i class="fa fa-home fa-3x item nav-item" aria-hidden="true"></i></a>
    <a href="/#/switchIt"><i class="fa fa-puzzle-piece fa-3x item nav-item" aria-hidden="true"></i></a>
    <a href="/#/hospital-report"><i class="fa fa-pie-chart fa-3x item nav-item" aria-hidden="true"></i></a>
    <a href="/#/project3"><img src="img/gaIcon.jpg" class="item"></a>
    <a href="/#/about"></a>
  </div>
  <div class="sidebar">
    <div class="item"><a href="/#/"><i class="fa fa-power-off fa-5x power" aria-hidden="true"></i></a></div>
    <div class="item"><a href="https://github.com/kamsci"><img src="img/github_icon_2.png"></a></div>
    <div class="item"><a><img src="img/email.png"></a></div>
    <div class="item"><a href="https://www.linkedin.com/in/kristacalderon"><img src="img/linkedin_icon.png"></a></div>
  </div>
</div>
