<!-- <div ng-include="'views/projectNav.html'"></div> -->
<!-- Title -->
<div class="title">
  <h1>:{{ outcomes }}</h1>
  <div class="icon-static pull-right"><i class="fa fa-group fa-2x" aria-hidden="true"></i></div>
  <div class="icon-static pull-right"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></div>
  <div>
    <div class="icon"><a href="https://comingup.herokuapp.com/" target="_blank"><i class="fa fa-link fa-lg" aria-hidden="true"></i></a></div>
    <div class="icon"><a href="https://comingup.herokuapp.com/" target="_blank"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a></div> 
  </div>
</div>

<!-- Description -->
<div class="sub-content">
  <h3 class="sub-title">Description</h3>
  <p class="paragraph">This project was a group project inspired by a real problem we experienced at General Assembly. Our Outcomes department is there to support students as they prepare for their re-entry into the workforce. They set deadlines for LinkedIn profiles, resumes, brand statements, and portfolios to be completed by. The tool we used to track these items was a Google doc.
  </p>
  <p class="paragraph">
  A few of us decided that together we could create an online version of the Outcomes google doc and make a site that is easier for students to read and comment on each others work, and easier for the Outcomes team to set deliverables.
  </p>

  <div class="tech lang">Ruby</div>
  <div class="tech lang">SCSS</div>
  <div class="tech lib">jQuery</div>
  <div class="tech lib">Bootstrap</div>
  <div class="tech framewk">Rails</div>
  <div class="tech database">PostgreSQL</div>
  <div class="tech concept">MVC</div>
  <div class="tech concept">RESTful Routes</div>
</div>

<!-- Wireframes/Plan -->
<div class="text-center image-box">
  <img src="../img/hReportPlan.png" class="plan-img">
  <p class="caption">For this wireframe I used Axure, which is a useful prototype software that allows to to create interactive wireframes. This is a screen shot of the <a href="http://fmpead.axshare.com" target="_blank"> admin wireframe.</a></p>.
</div>

<!-- The Approach -->
<div class="sub-content">
  <h3 class="sub-title">The Approach</h3>
  <div class="row">
    <div class="col-sm-2 div-h">
      <h4 class="approach-h">WHAT</h4>
    </div>
    <div class="col-sm-10">
      <p class="paragraph">Fortunately for us, this project already had our user stories and requirements laid out in the form of google docs the Outcomes team already created. We have a basic set up where an admin user can login to create and manage multiple cohorts of students as well as communicate important deadlines and information with all cohorts. 
      </p>
      <p class="paragraph">Some cool features are:</p>
      <ul class="paragraph">
        <li>Use of 6 normalized tables that connect to each other with foreign keys when necessary and one join table. </li>
        <li>Administrators can create new users and delegate permissions for administrators</li>
        <li>Administrators can add networking events they recommend to the staff picks page as well as create and set due dates for deliverables.</li>
        <li>Students have one easy place to post their profile content and can view and comment on other students' profile content.</li>
        <li>Students can edit their profile and reset their password</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <h4 class="approach-h">WHY</h4>
    </div>
    <div class="col-sm-10">
      <p class="paragraph">The group wanted to get expereince with something that is very common on any website that is also a product: Creating different users and assigning content and page permissions to users by their authorization; creating and querying multple databases; working on several different pages as a group with group commits. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <h4 class="approach-h">HOW</h4>
    </div>
    <div class="col-sm-10">
      <p class="paragraph">Rails provided our backend with the MVC structure and we used the Rails controllers to direct data to their respective views. We used the rails authentication method as well as custom methods to determine authorization on each route.</p>
      <p class="paragraph">We spent a good amount of time planning our databases and making sure we weren't repeating data across tables. We used the rails version of SQL to filter our data down to the cohort, student, or admin data we needed for each page. The Rails ORM was used to validate form data and set up one-to-one, one-to-many, and many-to-many relationships in the database.</p>
      <p class="paragraph">The project started as a devition between front-end and back-end, but in the end, the three of us took front and back end responsibility for specific sections of the site. We colaborated on design and standarization to make our pages match. Gihub was used to manage our work and reduce bugs from code merges.</p>
    </div>
  </div>
  <div>
    <h3 class="sub-title">Feature Backlog</h3>
    <p class="paragraph">The Outcomes Management site was built by 3 developers in about 7 days. Below is the backlog of features we would add if we were to continue with this project. </p>
    <table class="table">
      <thead><tr>
        <th>Feature</th>
        <th>Effort Estimate</th>
        <th>Priority</th>
        </tr></thead>
      <tbody>
        <tr>
          <td>Ability to delete users, staff picks, and deliverables</td>
          <td>SM</td>
          <td>High</td>
        </tr>
        <tr>
          <td>Add a calendar to display staff picks networking events</td>
          <td>MD</td>
          <td>High</td>
        </tr>
        <tr>
          <td>Ability for admins to group students together for assignments</td>
          <td>MD</td>
          <td>Med</td>
        </tr>
        <tr>
          <td>Github OAuth and the ability to add a picture to the student profile page from their github account (refactor of signup flow would have to happen)</td>
          <td>XLG</td>
          <td>High</td>
        </tr>
        <tr>
          <td>Allow a user to be in multiple cohorts if they return to GA for a new course (as of now they can only be assigned one at a time)</td>
          <td>MD</td>
          <td>Med</td>
        </tr>
      </tbody>
    </table>
  </div>