<div ng-include="'views/projectNav.html'"></div>
<!-- Title -->
<div class="title">
  <h1 class="inline"><a href="http://kamsci.github.io/SwitchIT/" target="_blank"> {{ switch }}</a></h1>
  <div class="icon pull-right"><i class="fa fa-puzzle-piece fa-3x" aria-hidden="true"></i></div>
</div>

<!-- Description -->
<div>
  <h3>Description</h3>
  <p>Inspired by fun and fast phone games like Candy Crush, MonsterBusters, or Bejeweled that people love to play for a fun distraction and a simple brain stretch!
  </p>
  <p>
  All game pieces are present and visible at the beginning of the game. The player must reorganize the pieces so they match along an entire row or column to get points!
  </p>
  <p>
  Reorganization is achieved in one way: Switch your key piece (top left piece in its own box) with any piece on the board.
  </p>
  <button class="btn btn-success tech">JQuery/Javascript</button><button class="btn btn-info tech">Sweet Alerts</button><button class="btn btn-warning tech">DRY code concepts</button>
</div>

<!-- Wireframes/Plan -->
<div class="text-center image-box">
  <img src="../img/switchItPlan.jpg" class="plan-img">
  <p class="caption">Above is the first wireframe and planning I did for the switchIt game. Although crude, this sketch helped me organize my thoughts and strategy before writing code.</p>
</div>

<!-- The Approach -->
<div>
  <h3>The Approach</h3>
  <div class="row">
    <div class="col-sm-2 div-h">
      <h4 class="approach-h">WHAT</h4>
    </div>
    <div class="col-sm-10">
      <p>I went for a clean look and feel UI-wise, and focused on making a game that can progress and grow with the user.
      </p>
      <p>Some cool features are:</p>
      <ul>
        <li>Dynamically created gameArray and HTML board</li>
        <li>Multiple Levels with different size boards</li>
        <li>Ability to add levels and monsters easily in an object array and have the game include them automatically.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <h4 class="approach-h">WHY</h4>
    </div>
    <div class="col-sm-10">
      <p>From the beginning, my goal was to create a game with a dynamic game board that was able to reform depending on the level requirements.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <h4 class="approach-h">HOW</h4>
    </div>
    <div class="col-sm-10">
      <p>I avoided hardcoding variables and elements and set the game up to be easily scalable by pointing all my code to objects and object arrays that store information about each level.</p>
    </div>
  </div>
  <div>
    <h3>Feature Backlog</h3>
    <p>switchIt was built in about 5 days before I had to move on to other projects. Below is the backlog of features I would add if I were to continue with this project. </p>
    <table class="table">
      <thead><tr>
        <th>Feature</th>
        <th>Effort Estimate</th>
        <th>Priority</th>
      </tr></thead>
      <tbody>
        <tr>
          <td>Include user authentication and database for clients to save progress</td>
          <td>LG</td>
          <td>High</td>
        </tr>
        <tr>
          <td>Improve logic around monster distribution to include checks to prevent ‘free’ matches when the game board is randomly generated at start and after each turn.</td>
          <td>MD</td>
          <td>High</td>
        </tr>
        <tr>
          <td>Create logic that gives double points for row/column combos</td>
          <td>SM</td>
          <td>Med</td>
        </tr>
        <tr>
          <td>Upgrade Levels to include danger logic, ie. create bombs, obstacles and timers</td>
          <td>XLG</td>
          <td>Med</td>
        </tr>
        <tr>
          <td>Diversify level score goals or move goals</td>
          <td>SM</td>
          <td>Med</td>
        </tr>
        <tr>
          <td>Add a profile page to track client level progress and achievements.</td>
          <td>MD</td>
          <td>High</td>
        </tr>
        <tr>
          <td>Improve animation and level transitions</td>
          <td>SM</td>
          <td>Med</td>
        </tr>
      </tbody>
    </table>
  </div>